.UserCard {
  border: 1px solid #bbb;
  background-color: #fff;
  min-width: 180px;
  min-height: 220px;
  border-radius: 10px;
  overflow: hidden;

  &__header {
    color: white;
    padding: 5px;
    background-color: #bbb;
  }

  &__count {
    font-size: 6em;
  }
}
